$base-color: #28a745;
$light-color: #4AE066;
$dark-color: #233812;
$back-color: #ffffff;
$correct-color: #dc3545;
$wrong-color: #007bff;

body {
    font-family: 'BIZ UDPGothic', suns-serif;
}
h1 {
    background-color: $base-color;
    color: $back-color;
    border-radius: 3rem;
    padding: 1rem 2rem;
}
h2 {
    padding: 0 1rem;
    display: inline-block;
    color: $base-color;
    border-bottom: 3px solid $base-color;
}
.content {
    margin: 1rem 2rem;
}