$base-color: #28a745;
$light-color: #4AE066;
$dark-color: #233812;
$back-color: #ffffff;
$correct-color: red;
$wrong-color: blue;

body {
    font-family: 'BIZ UDPGothic', suns-serif;
}
h1 {
    background-color: $base-color;
    color: $back-color;
    border-radius: 3rem;
    padding: 1rem 2rem;
}
h2 {
    color: $base-color;
}